* { 
    --solid-border: 1px solid rgb(0 0 0 / 0.2);
    --shadow: 0 0 30px rgb(0 0 0 / 0.2); 
    font-family: Arial, Helvetica, sans-serif; 
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 { color: darkblue; }

main img {
    width: 150px;
    height: auto;
    border: var(--solid-border);
    padding: 2px;
    box-shadow: var(--shadow)
}

p { padding: 0px; }

main { 
    max-width: 840px; 
    margin: 10px;
}

aside {
    max-width: 840px;
    margin: 10px;
    border: var(--solid-border);
    padding: 5px;
    background-color: #3030dd;
    color: white;
    box-shadow: var(--shadow)
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 3vh;
    border-top: 1px dotted rgb(0 0 0 / 0.2);
    text-align: center;
}